@import "../../../assets/scss/variable";


@media (any-hover: hover) {
  .button:hover {
    opacity: 0.8;
  }
}

.button {
  text-transform: uppercase;
  cursor:         pointer;
  background:     $mainColor;
  border-radius:  1.34375rem;
  font-size:      0.6875rem;
  color:          $whiteColor;
  letter-spacing: 0.024375rem;
  text-align:     center;
  padding:        0.5rem 1rem;
  border:         none;
  box-shadow:     0 0.125rem 0.25rem rgba(0, 0, 0, 0.50);
  &:active {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.50);
    opacity:    0.8;
  }
}