.slider {
  padding: 0 0.9rem;
  .sliderItem {
    width:  31.2%;
    height: 100%;
    h4 {
      min-height: 3.6rem;
    }
    ul {
      list-style-type: disc;
      padding-left:    2rem;
      li {
        text-align: left;
      }
    }
  }
  .slick-slide:not(:last-child) {
    border-right: 0.0625rem solid #d8d8d8;
  }
  .slick-dots {
    button:before {
      background: #bebab7;
    }
    .slick-active button:before {
      background: #1577d9;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider {
    .sliderItem {
      width:     100%;
      max-width: 20rem;
      margin:    0 auto;
      ul {
        margin-bottom: 2rem;
      }
    }
    .slick-slide:not(:last-child) {
      border-right: none;
    }
  }
}
