@import "../../../assets/scss/variable";

@media (any-hover: hover) {
  .header {
    .headerInner {
      .menu {
        ul li a:hover {
          color: $mainColor;
        }
      }
      .linkedin:hover {
        opacity: .8;
      }
    }
  }
}

.header {
  .headerInner {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    min-height:      4.3rem;
    padding:         0 3.1%;
    .logo {
      width: 7.5rem;
    }
    .menu {
      ul {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        li {
          a {
            text-decoration: none;
            font-size:       0.75rem;
            color:           #4f4f4f;
            letter-spacing:  0.00625rem;
            text-align:      center;
            padding:         2.12rem 1rem;
            display:         block;
            &:active {
              color:   $mainColor;
              opacity: .8;
            }
            &.active {
              color:       $blackColor;
              font-weight: bold;
            }
          }
        }
      }
    }
    .linkedin {
      width: 1rem;
      &:active {
        opacity: .8;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .header {
    .headerInner {
      padding: 0;
      .menu {
        display: none;
      }
    }
  }
}