@import "assets/scss/variable";

body, html {
  margin:      0;
  padding:     0;
  height:      100%;
  font-family: 'Neuzeit Grotesk', sans-serif;
  color:       $blackColor;
}

html {
  font-size: 16px;
}

* {
  box-sizing:  border-box;
  font-family: 'Proxima Nova', sans-serif;
  padding:     0;
  margin:      0;
  outline:     none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1 {
  font-weight:    100;
  font-size:      3.75rem;
  line-height:    2.5rem;
  color:          $whiteColor;
  letter-spacing: 0;
}

h3 {
  font-weight: 100;
  font-size:   1.875rem;
  line-height: 2.5rem;
}

h4 {
  font-size:      1rem;
  letter-spacing: -0.035rem;
  line-height:    1.4375rem;
}

p {
  font-weight:    400;
  font-size:      0.875rem;
  color:          $lightBrown;
  letter-spacing: 0.001875rem;
  line-height:    1.1875rem;
  margin-bottom:  1.2rem;
}

#root {
  height: 100%;
}

.container {
  max-width: 100rem;
  width:     100%;
  margin:    0 auto;
  padding:   0 0.9375rem;
}


@media screen and (max-width: 768px) {
  h3 {
    font-size:      1.125rem;
    letter-spacing: 0.001875rem;
    text-align:     center;
    line-height:    1.625rem;
  }
}